            body {
                text-align: center;
                background-image: url("../images/tic-tac-toe-backgrounds-wallpapers.jpg");
                background-repeat: no-repeat;
            }
            
            .box {
                text-align: left;
                width: auto;
                height: auto;
            }
            
            h1 {
                color: purple;
                position: relative;
                /* -webkit-animation: h1Animation 3s;*/
            }
            
            h2 {
                color: purple;
                position: relative;
                /*-webkit-animation: h2Animation 3s;*/
            }
            
            .ask {
                font-size: 32px;
                color: black;
            }
            /* img {
position: relative;
-webkit-animation: imgAnimation 3s;
}*/
            
            a {
                text-decoration: none;
                color: black;
            }